body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f2e1;
  margin: 0;
  padding: 0;
}


// gradient: https://www.gradientmagic.com/collection/rainbowstandard
@import url("https://fonts.googleapis.com/css?family=Lato:300"); 

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
}
header {
  background-color: #171717;
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

#dark-mode-btn {
  order: 2;
}

h1 {
  font-size: 24px;
  font-weight: normal;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.card {
  background-color: #171717;
  display: flex;
  color: white;
  border-radius: 10px;
  padding: 10% 10%;
  text-align: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Add border-color transition */
  width: 45%;
  max-width: 45%;
  min-width: 250px;
  aspect-ratio: 1/0.7;
  border: 2px solid transparent; /* Add initial transparent border */
}

.card:hover {
  background-color: transparent; /* Remove background color on hover */
  color: #171717; /* Change text color to #171717 on hover */
  border-color: #171717; /* Change border color to #171717 on hover */
}



h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

@media (min-width: 1024px) {
  .card-group {
    flex-wrap: nowrap;
  }

  .card {
    width: calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}





